<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Kristopher Johnson</string>
	<key>Builder Version</key>
	<string>8536.28.10</string>
	<key>CFBundleDisplayName</key>
	<string>TransCore Wiki Raw Edit</string>
	<key>CFBundleIdentifier</key>
	<string>net.kristopherjohnson.transcorewikirawedit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>TransCoreWikiRawEdit.user.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://atl-tech-ctr.transcore.com/twiki/bin/view/*</string>
			<string>https://atl-tech-ctr.transcore.com/twiki/</string>
			<string>http://cvs.tcore.com/twiki/bin/view/*</string>
			<string>http://cvs.tcore.com/twiki/</string>
			<string>https://metro.narwhalgroup.com/twiki/bin/view/*</string>
			<string>https://metro.narwhalgroup.com/twiki/</string>
			<string>https://cloud.narwhalgroup.com/twiki/bin/view/*</string>
			<string>https://cloud.narwhalgroup.com/twiki/</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Changes the Edit button so that it opens Raw Edit rather than WYSIWYG</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>atl-tech-ctr.transcore.com</string>
				<string>cvs.tcore.com</string>
				<string>metro.narwhalgroup.com</string>
				<string>cloud.narwhalgroup.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
